<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KøkkenFanatikeren.Properties.Settings.KoekkenFanatikerenConnectionString"
            connectionString="Data Source=The-Invader;Initial Catalog=KoekkenFanatikeren;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="KøkkenFanatikeren.Properties.Settings.KoekkenFanatikerenConnectionString1"
            connectionString="Data Source=THE-INVADER;Initial Catalog=KoekkenFanatikeren;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>